body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero{
  cursor: pointer;
  margin: 2px;
}

.product-name{
  z-index: 1;
  position: absolute;
  top: 1;
  padding: 2px;
  background-color: #ccc;
  opacity: 0.7;
  margin-left: 2px;
  height: 30px;
  width: 97%;
  font-weight: bold;
  vertical-align: middle;
  line-height: 30px;
}

.product-price{
  z-index: 1;
  position: absolute;
  bottom: 16;
  left: 16;
  background-color: #4d5259;
  opacity: 0.9;
  padding: 5;
  color: white;
}

.product-lightbox{
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.lightbox-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
}

.product-image{
  padding-top: 10px;
  margin: auto;
}

.radio-container{
  background-color: rgba(155, 155, 155, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  bottom: 30px;
}

.radio-filled{
  height: 6px;
  width: 6px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 7px;
}

.radio-empty{
  height: 6px;
  width: 6px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 7px;
}

.close{
  right: 15px;
}

.prev{
  top: 45%;
  left: -7px;
}

.next{
  top: 45%;
  right: -7px;
}

.controls{
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  color: #444;
}